["పెద్దమండ్యం","పెద్దమండ్యం"],
["కె.వి.బి.పురం","కె.వి.బి.పురం"],
["నగరి","నగరి"],
["తంబళ్ళపల్లె","తంబళ్ళపల్లె"],
["నారాయణవనం","నారాయణవనం"],
["కార్వేటినగరం","కార్వేటినగరం"],
["ములకలచెరువు","ములకలచెరువు"],
["వడమాలపేట","వడమాలపేట"],
["శ్రీరంగరాజపురం","శ్రీరంగరాజపురం"],
["పెద్దతిప్పసముద్రం","పెద్దతిప్పసముద్రం"],
["తిరుపతి గ్రామీణ","తిరుపతి గ్రామీణ"],
["పాలసముద్రం","పాలసముద్రం"],
["బి.కొత్తకోట","బి.కొత్తకోట"],
["రామచంద్రాపురం","రామచంద్రాపురం"],
["గంగాధర నెల్లూరు","గంగాధర నెల్లూరు"],
["కురబలకోట","కురబలకోట"],
["చంద్రగిరి","చంద్రగిరి"],
["పెనుమూరు","పెనుమూరు"],
["గుర్రంకొండ","గుర్రంకొండ"],
["చిన్నగొట్టిగల్లు","చిన్నగొట్టిగల్లు"],
["పూతలపట్టు","పూతలపట్టు"],
["కలకడ","కలకడ"],
["రొంపిచెర్ల","రొంపిచెర్ల"],
["ఐరాల","ఐరాల"],
["కంభంవారిపల్లె","కంభంవారిపల్లె"],
["పీలేరు","పీలేరు"],
["తవణంపల్లి","తవణంపల్లి"],
["యెర్రావారిపాలెం","యెర్రావారిపాలెం"],
["కలికిరి","కలికిరి"],
["చిత్తూరు","చిత్తూరు"],
["తిరుపతి పట్టణ","తిరుపతి పట్టణ"],
["వాయల్పాడు","వాయల్పాడు"],
["గుడిపాల","గుడిపాల"],
["రేణిగుంట","రేణిగుంట"],
["నిమ్మనపల్లె","నిమ్మనపల్లె"],
["యాదమరి","యాదమరి"],
["ఏర్పేడు","ఏర్పేడు"],
["మదనపల్లె","మదనపల్లె"],
["బంగారుపాళ్యం","బంగారుపాళ్యం"],
["శ్రీకాళహస్తి","శ్రీకాళహస్తి"],
["రామసముద్రం (చిత్తూరు జిల్లా)","రామసముద్రం (చిత్తూరు జిల్లా)"],
["పలమనేరు","పలమనేరు"],
["తొట్టంబేడు","తొట్టంబేడు"],
["పుంగనూరు","పుంగనూరు"],
["గంగవరం","గంగవరం"],
["బుచ్చినాయుడు ఖండ్రిగ","బుచ్చినాయుడు ఖండ్రిగ"],
["చౌడేపల్లె","చౌడేపల్లె"],
["పెద్దపంజాణి","పెద్దపంజాణి"],
["వరదయ్యపాలెం","వరదయ్యపాలెం"],
["సోమల","సోమల"],
["బైరెడ్డిపల్లె","బైరెడ్డిపల్లె"],
["సత్యవేడు","సత్యవేడు"],
["సదుం","సదుం"]
["వెంకటగిరి కోట","వెంకటగిరి కోట"],
["నాగలాపురం","నాగలాపురం"],
["పులిచెర్ల","పులిచెర్ల"],
["రామకుప్పం","రామకుప్పం"],
["పిచ్చాటూరు","పిచ్చాటూరు"],
["పాకాల","పాకాల"],
["శాంతిపురం","శాంతిపురం"],
["విజయపురం","విజయపురం"],
["వెదురుకుప్పం","వెదురుకుప్పం"],
["గుడిపల్లె","గుడిపల్లె"],
["నింద్ర","నింద్ర"],
["పుత్తూరు","పుత్తూరు"],
["కుప్పం","కుప్పం"],
