["1మారేడుమిల్లి మండలం","1మారేడుమిల్లి మండలం"],
["2	వై.రామవరం మండలం","2	వై.రామవరం మండలం"],
["3	అడ్డతీగల మండలం",	"3	అడ్డతీగల మండలం"],
["4	రాజవొమ్మంగి మండలం","4	రాజవొమ్మంగి మండలం"],
["5	కోటనందూరు మండలం","5	కోటనందూరు మండలం"],
["6	తుని మండలం	","6	తుని మండలం	"],
["7	తొండంగి మండలం","7	తొండంగి మండలం"],
["8	గొల్లప్రోలు మండలం","8 గొల్లప్రోలు మండలం"],
["9	శంఖవరం మండలం	","9 శంఖవరం మండలం	"],
["10 ప్రత్తిపాడు మండలం","10 ప్రత్తిపాడు మండలం"],
["11 ఏలేశ్వరం మండలం","11 ఏలేశ్వరం మండలం"],
["12 గంగవరం మండలం	","12 గంగవరం మండలం	"],
["13 రంపచోడవరం మండలం","13 రంపచోడవరం మండలం"],
["14 దేవీపట్నం మండలం","14 దేవీపట్నం మండలం"],
["15 సీతానగరం మండలం","15 సీతానగరం మండలం"],
["16 కోరుకొండ మండలం","16 కోరుకొండ మండలం"],
["17 గోకవరం మండలం	","17 గోకవరం మండలం	"],
["18 జగ్గంపేట మండలం","18 జగ్గంపేట మండలం"],
["19 కిర్లంపూడి మండలం	","19 కిర్లంపూడి మండలం"],
["20 పెద్దాపురం మండలం","20 పెద్దాపురం మండలం"],
["21 పిఠాపురం మండలం","21 పిఠాపురం మండలం"	],
["22 కొత్తపల్లి మండలం","22 కొత్తపల్లి మండలం"],
["23 కాకినాడ (గ్రామీణ) మండలం","23 కాకినాడ (గ్రామీణ) మండలం"],
["24 మండపేట మండలం","24 మండపేట మండలం"],
["25 సామర్లకోట మండలం","25 సామర్లకోట మండలం"],
["26 రంగంపేట మండలం","26 రంగంపేట మండలం"],
["27 గండేపల్లి మండలం","27 గండేపల్లి మండలం"],
["28 రాజానగరం మండలం","28 రాజానగరం మండలం"],
["29 రాజమండ్రి (గ్రామీణ) మండలం"],
["30 రౌతులపూడి మండలం","30 రౌతులపూడి మండలం"],
["31 కడియం మండలం	","31 కడియం మండలం"],
["32 సఖినేటిపల్లి మండలం","32 సఖినేటిపల్లి మండలం"],
["33 అనపర్తి మండలం","33 అనపర్తి మండలం"],
["34 బిక్కవోలు మండలం","34 బిక్కవోలు మండలం"],
["35 పెదపూడి మండలం","35 పెదపూడి మండలం"],
["36 కరప మండలం","36 కరప మండలం"],
["37 తాళ్ళరేవు మండలం","37 తాళ్ళరేవు మండలం"],
["38 కాజులూరు మండలం","38 కాజులూరు మండలం"],
["39 రామచంద్రాపురం మండలం","39 రామచంద్రాపురం మండలం"],
["40 రాయవరం మండలం","40 రాయవరం మండలం"],
["41 కపిలేశ్వరపురం మండలం","41 కపిలేశ్వరపురం మండలం"],
["42 ఆలమూరు మండలం","42 ఆలమూరు మండలం"],
["43 ఆత్రేయపురం మండలం","43 ఆత్రేయపురం మండలం"],
["44 రావులపాలెం మండలం","44 రావులపాలెం మండలం"],
["45 పామర్రు మండలం","45 పామర్రు మండలం"	],
["46 కొత్తపేట మండలం","46 కొత్తపేట మండలం"],
["47 పి.గన్నవరం మండలం","47 పి.గన్నవరం మండలం"],
["48 అంబాజీపేట మండలం","48 అంబాజీపేట మండలం"],
["49 ఐనవిల్లి మండలం","49 ఐనవిల్లి మండలం"],
["50 ముమ్మిడివరం మండలం","50 ముమ్మిడివరం మండలం"],
["51 ఐ.పోలవరం మండలం","51 ఐ.పోలవరం మండలం"],
["52 కాట్రేనికోన మండలం","52 కాట్రేనికోన మండలం"],
["53 ఉప్పలగుప్తం మండలం","53 ఉప్పలగుప్తం మండలం"],
["54 అమలాపురం మండలం","54 అమలాపురం మండలం"],
["55 అల్లవరం మండలం","55 అల్లవరం మండలం"],
["56 మామిడికుదురు మండలం","56 మామిడికుదురు మండలం"],
["57 రాజోలు మండలం","57 రాజోలు మండలం"],
["58 మలికిపురం మండలం","58 మలికిపురం మండలం"],
["59 ఎటపాక మండలం","59 ఎటపాక మండలం"],
["60 కూనవరం మండలం","60 కూనవరం మండలం"],
["61 చింతూరు మండలం","61 చింతూరు మండలం"],
["62 వరరామచంద్రపురం మండలం","62 వరరామచంద్రపురం మండలం"],
["63 కాకినాడ (పట్టణ) మండలం","63 కాకినాడ (పట్టణ) మండలం"],
["64 రాజమండ్రి (పట్టణ) మండలం","64 రాజమండ్రి (పట్టణ) మండలం"]



పెదపట్నంలంక
అప్పనపల్లి
బొదసకుర్రు దొడ్డవరం
పాశర్లపూడి
మామిడికుదురు
పెదపట్నం
నగరం
మొగలికుదురు(జగ్గన్నపేట)
గెద్దాడ
ఈదరాడ
మాకనపాలెం
లూటుకుర్రు
పాశర్లపూడిలంక
అదుర్రు
కొమరాడ
మగటపల్లి
గొగన్నమఠం
