
అగర్లగోకర్లపల్లి
అన్నాపురం
ఆకులరఘునాధపురం
ఆనందపురం (నందిగం)
ఉద్దండబర్తుపురం
ఉయ్యాలపేట
కంచివూరు
కందులగూడెం
కణితివూరు
కరజాడ (నందిగం)
కవిటి (నందిగం)
కామధేనువు (నందిగం)
కార్లపూడి
కాశీరాజు కాశిపురం
కృష్ణరాయపురం (నందిగం)
కైజోల (నందిగం)
కొండతెంబురు
కొత్త అగ్రహారం
కోటిపల్లి (నందిగం మండలం)
కోమటూరు
ఖల్లాడ
చిన్నగురువూరు
చిన్నతామరపల్లి
చిన్నలక్ష్మీపురం
చిన్నలావునిపల్లి
చిన్నారిగోకర్లపల్లి
చెరుకుపల్లి (నందిగం మండలం)
జద్యాడ
జమ్మిపేట
జయపురం
(నందిగం)
తమలాపురం
తురకలకోట
తెంబూరు (నందిగం)
దిమిలాడ
దిమ్మిదిజోల
దీనబంధుపురం (నందిగం)
దేవలభద్ర
దేవాడ (నందిగం)
దేవుపురం (నందిగం)
దొడ్లరామచంద్రాపురం
నందిగం
నరేంద్రపురం (నందిగం)
నర్సీపురం (నందిగం)
నౌగాం
పద్మాపురం (నందిగం)
పల్లవలస
పాత్రునివలస (నందిగం)
పెంటవూరు
పెద్దగురువూరు
పెద్దతామరపల్లి
పెద్దబానపురం
పెద్దలావునిపల్లి
పెద్దినాయుడుపేట
పోతులూరు (నందిగం)
పోలవరం (నందిగం)
ప్రతాపవిశ్వనాధపురం
బంజీరుపేట
బడగం
బడబండ
బెజ్జిపల్లి
బెనియావూరు
బెల్లుకోల
బోరుభద్ర (నందిగం)
భరణిగాం
భర్తపురం
భీరిబొడ్డపాడు
మజ్జిగోపాలపురం
మణిగాం
మదనాపురం (నందిగం)
మర్లపాడు (నందిగం)
మల్లివీడు (నందిగం)
మాదిగపురం
మామిడిపల్లి (నందిగం మండలం)
ముకుందాపురం (నందిగం)
మొండ్రాయవలస
మొగిలిపాడు
మొజ్జువాడ
రాంపురం (నందిగం)
రాధజనబొడ్డపాడు
రౌతుపురం (నందిగం)
లక్కిదాసపురం
లట్టిగం
వల్లభరాయపాడు
విస్సంపల్లి
వెంకటాపురం (నందిగం)
వేణుగోపాలపురం (నందిగం)
శివరాంపురం (నందిగం)
సంతోషపురం (నందిగం)
సగరంపేట
సరదాపురం (నందిగం)
సవరకొత్తూరు
సవరబానపురం
సవరరాంపురం
సవరరామకృష్ణాపురం
సవరలింగాపురం
సింగుపురం (నందిగం)
సుభద్రపురం
సొంటినూరు
హరిదాసుపురం
హర్షబాడ
హుకుంపేట (నందిగం)