<option value="అనంతపురం "> అనంతపురం</option>
<option value="కర్నూలు  ">కర్నూలు</option>
<option value="కృష్ణా  ">కృష్ణా</option>
<option value="గుంటూరు  ">గుంటూరు</option>
<option value="చిత్తూరు  ">చిత్తూరు</option>
<option value="తూర్పు గోదావరి">తూర్పు గోదావరి</option>
<option value="పశ్చిమ గోదావరి ">పశ్చిమ గోదావరి</option>
<option value="ప్రకాశం  ">ప్రకాశం</option>
<option value="విజయనగరం ">విజయనగరం</option>
<option value="విశాఖపట్నం ">విశాఖపట్నం</option>
<option value="వైఎస్ఆర్ కడప">వైఎస్ఆర్ కడప</option>
<option value="శ్రీ పొట్టి శ్రీరాములు నెల్లూరు">శ్రీ పొట్టి శ్రీరాములు నెల్లూరు</option>
<option value="శ్రీకాకుళం">శ్రీకాకుళం</option>
<option value=""></option>
