["మాచర్ల","మాచర్ల"],
["రెంటచింతల","రెంటచింతల"],
["గురజాల","గురజాల"],
["దాచేపల్లి","దాచేపల్లి"],
["మాచవరం","మాచవరం"],
["బెల్లంకొండ","బెల్లంకొండ"],
["అచ్చంపేట","అచ్చంపేట"],
["క్రోసూరు","క్రోసూరు"],
["అమరావతి","అమరావతి"],
["తుళ్ళూరు","తుళ్ళూరు"],
["తాడేపల్లి","తాడేపల్లి"],
["మంగళగిరి","మంగళగిరి"],
["తాడికొండ","తాడికొండ"],
["పెదకూరపాడు","పెదకూరపాడు"],
["సత్తెనపల్లి","సత్తెనపల్లి"],
["రాజుపాలెం","రాజుపాలెం"],
["పిడుగురాళ్ల","పిడుగురాళ్ల"],
["కారంపూడి","కారంపూడి"],
["దుర్గి","దుర్గి"],
["వెల్దుర్తి","వెల్దుర్తి"],
["బొల్లాపల్లి","బొల్లాపల్లి"],
["నకరికల్లు","నకరికల్లు"],
["ముప్పాళ్ల","ముప్పాళ్ల"],
["ఫిరంగిపురం","ఫిరంగిపురం"],
["మేడికొండూరు","మేడికొండూరు"],
["గుంటూరు","గుంటూరు"],
["పెదకాకాని","పెదకాకాని"],
["దుగ్గిరాల","దుగ్గిరాల"],
["కొల్లిపర","కొల్లిపర"],
["కొల్లూరు","కొల్లూరు"],
["వేమూరు","వేమూరు"],
["తెనాలి","తెనాలి"],
["చుండూరు","చుండూరు"],
["చేబ్రోలు","చేబ్రోలు"],
["వట్టిచెరుకూరు","వట్టిచెరుకూరు"],
["ప్రత్తిపాడు","ప్రత్తిపాడు"],
["యడ్లపాడు","యడ్లపాడు"],
["నాదెండ్ల","నాదెండ్ల"],
["నరసరావుపేట","నరసరావుపేట"],
["రొంపిచెర్ల","రొంపిచెర్ల"],
["ఈపూరు","ఈపూరు"],
["శావల్యాపురం","శావల్యాపురం"],
["వినుకొండ","వినుకొండ"],
["నూజెండ్ల","నూజెండ్ల"],
["చిలకలూరిపేట","చిలకలూరిపేట"],
["పెదనందిపాడు","పెదనందిపాడు"],
["కాకుమాను","కాకుమాను"],
["పొన్నూరు","పొన్నూరు"],
["అమృతలూరు","అమృతలూరు"],
["చెరుకుపల్లి","చెరుకుపల్లి"],
["భట్టిప్రోలు","భట్టిప్రోలు"],
["రేపల్లె","రేపల్లె"],
["నగరం","నగరం"],
["నిజాంపట్నం","నిజాంపట్నం"],
["పిట్టలవానిపాలెం","పిట్టలవానిపాలెం"],
["కర్లపాలెం","కర్లపాలెం"],
["బాపట్ల","బాపట్ల"],