["1 కొండాపురం మండలం","1 కొండాపురం మండలం"],

["2 మైలవరం మండలం","2 మైలవరం మండలం"],

["3 పెద్దముడియం మండలం","3 పెద్దముడియం మండలం"],

["4 రాజుపాలెం మండలం","4 రాజుపాలెం మండలం"],

["5 దువ్వూరు మండలం","5 దువ్వూరు మండలం"],

["6 మైదుకూరు మండలం","6 మైదుకూరు మండలం"],

["7 బ్రహ్మంగారిమఠం మండలం","7 బ్రహ్మంగారిమఠం మండలం"],

["8 బి.కోడూరు మండలం","8 బి.కోడూరు మండలం"],

["9 కలసపాడు మండలం","9 కలసపాడు మండలం"],

["10 పోరుమామిళ్ల మండలం","10 పోరుమామిళ్ల మండలం"],

["11 బద్వేలు మండలం","11 బద్వేలు మండలం"],

["12 గోపవరం మండలం","12 గోపవరం మండలం"],

["13 ఖాజీపేట మండలం","13 ఖాజీపేట మండలం"],

["14 చాపాడు మండలం","14 చాపాడు మండలం"],

["15 ప్రొద్దుటూరు మండలం","15 ప్రొద్దుటూరు మండలం"],

["16 జమ్మలమడుగు మండలం","16 జమ్మలమడుగు మండలం"],

["17 ముద్దనూరు మండలం","17 ముద్దనూరు మండలం"],

["18 సింహాద్రిపురం మండలం","18 సింహాద్రిపురం మండలం"],

["19 లింగాల మండలం","19 లింగాల మండలం"],

["20 పులివెందల మండలం","20 పులివెందల మండలం"],

["21 వేముల మండలం","21 వేముల మండలం"],

["22 తొండూరు మండలం","22 తొండూరు మండలం"],

["23 వీరపునాయునిపల్లె మండలం","23 వీరపునాయునిపల్లె మండలం"],

["24 యర్రగుంట్ల మండలం","24 యర్రగుంట్ల మండలం"],

["25 కమలాపురం మండలం","25 కమలాపురం మండలం"],

["26 వల్లూరు మండలం","26 వల్లూరు మండలం"],

["27 చెన్నూరు మండలం","27 చెన్నూరు మండలం"],

["28 అట్లూరు మండలం","28 అట్లూరు మండలం"],

["29 ఒంటిమిట్ట మండలం","29 ఒంటిమిట్ట మండలం"],

["30 సిద్ధవటం మండలం","30 సిద్ధవటం మండలం"],

["31 కడప మండలం","31 కడప మండలం"],

["32 చింతకొమ్మదిన్నె మండలం","32 చింతకొమ్మదిన్నె మండలం"],

["33 పెండ్లిమర్రి మండలం","33 పెండ్లిమర్రి మండలం"],

["34 వేంపల్లె మండలం","34 వేంపల్లె మండలం"],

["35 చక్రాయపేట మండలం","35 చక్రాయపేట మండలం"],

["36 లక్కిరెడ్డిపల్లె మండలం","36 లక్కిరెడ్డిపల్లె మండలం"],

["37 రామాపురం మండలం","37 రామాపురం మండలం"],

["38 వీరబల్లె మండలం","38 వీరబల్లె మండలం"],

["39 రాజంపేట మండలం","39 రాజంపేట మండలం"],

["40 నందలూరు మండలం","40 నందలూరు మండలం"],

["41 పెనగలూరు మండలం","41 పెనగలూరు మండలం"],

["42 చిట్వేలు మండలం","42 చిట్వేలు మండలం"],

["43 కోడూరు మండలం","43 కోడూరు మండలం"],

["44 ఓబులవారిపల్లె మండలం","44 ఓబులవారిపల్లె మండలం"],

["45 పుల్లంపేట మండలం","45 పుల్లంపేట మండలం"],

["46 టి.సుండుపల్లె మండలం","46 టి.సుండుపల్లె మండలం"],

["47 సంబేపల్లి మండలం","47 సంబేపల్లి మండలం"],

["48 చిన్నమండెం మండలం","48 చిన్నమండెం మండలం"],

["49 రాయచోటి మండలం","49 రాయచోటి మండలం"],

["50 గాలివీడు మండలం","50 గాలివీడు మండలం"],

["51 కాశి నాయన మండలం","51 కాశి నాయన మండలం"],

