["జగ్గయ్యపేట మండలం","జగ్గయ్యపేట మండలం"],
["పెనమలూరు మండలం","పెనమలూరు మండలం"],
["నాగాయలంక మండలం","నాగాయలంక మండలం"],
["వత్సవాయి మండలం","వత్సవాయి మండలం"],
["తోట్లవల్లూరు మండలం","తోట్లవల్లూరు మండలం"],
["కోడూరు","కోడూరు"],
["పెనుగంచిప్రోలు మండలం","పెనుగంచిప్రోలు మండలం"],
["కంకిపాడు మండలం","కంకిపాడు మండలం"],
["మచిలీపట్నం మండలం","మచిలీపట్నం మండలం"],
["నందిగామ మండలం","నందిగామ మండలం"],
["గన్నవరం","గన్నవరం"],
["గూడూరు","గూడూరు"],
["చందర్లపాడు మండలం","చందర్లపాడు మండలం"],
["అగిరిపల్లి మండలం","అగిరిపల్లి మండలం"],
["పామర్రు మండలం","పామర్రు మండలం"],
["కంచికచెర్ల మండలం","కంచికచెర్ల మండలం"],
["నూజివీడు మండలం","నూజివీడు మండలం"],
["పెదపారుపూడి మండలం","పెదపారుపూడి మండలం"],
["వీరులపాడు మండలం","వీరులపాడు మండలం"],
["చాట్రాయి మండలం","చాట్రాయి మండలం"],
["నందివాడ మండలం","నందివాడ మండలం"],
["ఇబ్రహీంపట్నం","ఇబ్రహీంపట్నం"],
["ముసునూరు మండలం","ముసునూరు మండలం"],
["గుడివాడ మండలం","గుడివాడ మండలం"],
["జి.కొండూరు మండలం","జి.కొండూరు మండలం"],
["బాపులపాడు మండలం","బాపులపాడు మండలం"],
["గుడ్లవల్లేరు మండలం","గుడ్లవల్లేరు మండలం"],
["మైలవరం","మైలవరం"],
["ఉంగుటూరు","ఉంగుటూరు"],
["పెడన మండలం","పెడన మండలం"],
["ఏ.కొండూరు మండలం","ఏ.కొండూరు మండలం"],
["ఉయ్యూరు మండలం","ఉయ్యూరు మండలం"],
["బంటుమిల్లి మండలం","బంటుమిల్లి మండలం"],
["గంపలగూడెం మండలం","గంపలగూడెం మండలం"],
["పమిడిముక్కల మండలం","పమిడిముక్కల మండలం"],
["ముదినేపల్లి మండలం","ముదినేపల్లి మండలం"],
["తిరువూరు మండలం","తిరువూరు మండలం"],
["మొవ్వ మండలం","మొవ్వ మండలం"],
["మండవల్లి మండలం","మండవల్లి మండలం"],
["విస్సన్నపేట మండలం","విస్సన్నపేట మండలం"],
["ఘంటసాల","ఘంటసాల"],
["కైకలూరు మండలం","కైకలూరు మండలం"],
["రెడ్డిగూడెం మండలం","రెడ్డిగూడెం మండలం"],
["చల్లపల్లి మండలం","చల్లపల్లి మండలం"],
["కలిదిండి మండలం","కలిదిండి మండలం"],
["విజయవాడ గ్రామీణ మండలం","విజయవాడ గ్రామీణ మండలం"],
["మోపిదేవి మండలం","మోపిదేవి మండలం"],
["కృత్తివెన్ను మండలం","కృత్తివెన్ను మండలం"],
["విజయవాడ పట్టణం మండలం","విజయవాడ పట్టణం మండలం"],
["అవనిగడ్డ","అవనిగడ్డ"],