
["1.కౌతాళం మండలం","1.కౌతాళం మండలం"],

["2.మకోసిగి మండలం","2.మకోసిగి మండలం"],

["3.మంత్రాలయము మండలం","3.మంత్రాలయము మండలం"],

["4.నందవరము మండలం","4.నందవరము మండలం"],

["5.సి.బెళగల్‌ మండలం","5.సి.బెళగల్‌ మండలం"],

["6.గూడూరు మండలం","6.గూడూరు మండలం"],

["7.కర్నూలు మండలం","7.కర్నూలు మండలం"],

["8.నందికోట్కూరు మండలం","8.నందికోట్కూరు మండలం"],

["9.పగిడ్యాల మండలం","9.పగిడ్యాల మండలం"],

["10.కొత్తపల్లె మండలం","10.కొత్తపల్లె మండలం"],

["11.ఆత్మకూరు, కర్నూలు జిల్లా మండలం","11.ఆత్మకూరు, కర్నూలు జిల్లా మండలం"],

["12.శ్రీశైలం మండలం","12.శ్రీశైలం మండలం"],

["13.వెలుగోడు మండలం","13.వెలుగోడు మండలం"],

["14.పాములపాడు మండలం","14.పాములపాడు మండలం"],

["15.జూపాడు బంగ్లా మండలం","15.జూపాడు బంగ్లా మండలం"],

["16.మిడ్తూరు మండలం","16.మిడ్తూరు మండలం"],

["17.ఓర్వకల్లు మండలం","17.ఓర్వకల్లు మండలం"],

["18.కల్లూరు,కర్నూలు మండలం","18.కల్లూరు,కర్నూలు మండలం"],

["19.కోడుమూరు మండలం","19.కోడుమూరు మండలం"],

["20.గోనెగండ్ల మండలం","20.గోనెగండ్ల మండలం"],

["21.ఎమ్మిగనూరు మండలం","21.ఎమ్మిగనూరు మండలం"],

["22.పెద్ద కడబూరు మండలం","22.పెద్ద కడబూరు మండలం"],

["23.ఆదోని మండలం","23.ఆదోని మండలం"],

["24.హోళగుంద మండలం","24.హోళగుంద మండలం"],

["25.ఆలూరు, కర్నూలు మండలం","25.ఆలూరు, కర్నూలు మండలం"],

["26.ఆస్పరి మండలం","26.ఆస్పరి మండలం"],

["27.దేవనకొండ మండలం","27.దేవనకొండ మండలం"],

["28.క్రిష్ణగిరి మండలం","28.క్రిష్ణగిరి మండలం"],

["29.వెల్దుర్తి మండలం","29.వెల్దుర్తి మండలం"],

["30.బేతంచెర్ల మండలం","30.బేతంచెర్ల మండలం"],

["31.పాణ్యం మండలం","31.పాణ్యం మండలం"],

["32.గడివేముల మండలం","32.గడివేముల మండలం"],

["33.బండి ఆత్మకూరు మండలం","33.బండి ఆత్మకూరు మండలం"],

["34.నంద్యాల మండలం","34.నంద్యాల మండలం"],

["35.మహానంది మండలం","35.మహానంది మండలం"],

["36.శిరివెళ్ళ మండలం","36.శిరివెళ్ళ మండలం"],

["37.రుద్రవరము మండలం","37.రుద్రవరము మండలం"],

["38.ఆళ్లగడ్డ మండలం","38.ఆళ్లగడ్డ మండలం"],

["39.చాగలమర్రి మండలం","39.చాగలమర్రి మండలం"],

["40.ఉయ్యాలవాడ మండలం","40.ఉయ్యాలవాడ మండలం"],

["41.దోర్ణిపాడు మండలం","41.దోర్ణిపాడు మండలం"],

["42.గోస్పాడు మండలం","42.గోస్పాడు మండలం"],

["43.కోయిలకుంట్ల మండలం","43.కోయిలకుంట్ల మండలం"],

["44.బనగానపల్లె మండలం","44.బనగానపల్లె మండలం"],

["45.సంజామల మండలం","45.సంజామల మండలం"],

["46.కొలిమిగుండ్ల మండలం","46.కొలిమిగుండ్ల మండలం"],

["47.ఔకు మండలం","47.ఔకు మండలం"],

["48.ప్యాపిలి మండలం","48.ప్యాపిలి మండలం"],

["49.డోన్ మండలం","49.డోన్ మండలం"],

["50.తుగ్గలి మండలం","50.తుగ్గలి మండలం"],

["51.పత్తికొండ మండలం","51.పత్తికొండ మండలం"],

["52.మద్దికేర తూర్పు మండలం","52.మద్దికేర తూర్పు మండలం"],

["53.చిప్పగిరి మండలం","53.చిప్పగిరి మండలం"],

["54.హాలహర్వి మండలం","54.హాలహర్వి మండలం"]