[["month","month"],["month","month"],["weak","weak"],["day","day"]];
[["డి.హిరేహాల్","డి.హిరేహాల్"],["డి.హిరేహాల్","డి.హిరేహాల్"],
["బొమ్మనహళ్","బొమ్మనహళ్"],
["విడపనకల్లు","విడపనకల్లు"],
["వజ్రకరూరు","విడపనకల్లు"],
["గుంతకల్లు","గుంతకల్లు"],
["గుత్తి","గుత్తి"],
["పెద్దవడుగూరు","పెద్దవడుగూరు"],
["యాడికి","యాడికి"],
["తాడిపత్రి","తాడిపత్రి"],
["పెద్దపప్పూరు","పెద్దపప్పూరు"],
["శింగనమల","శింగనమల"],
["పామిడి","పామిడి"],
["గార్లదిన్నె","గార్లదిన్నె"],
["కూడేరు","కూడేరు"],
["ఉరవకొండ","ఉరవకొండ"],
["బెళుగుప్ప","బెళుగుప్ప"],
["కణేకల్లు","కణేకల్లు"],
["రాయదుర్గం","రాయదుర్గం"],
["గుమ్మగట్ట","గుమ్మగట్ట"],
["బ్రహ్మసముద్రం","బ్రహ్మసముద్రం"],
["బ్రహ్మసముద్రం","బ్రహ్మసముద్రం"],
["శెట్టూరు","శెట్టూరు"],
["కుందుర్పి","కుందుర్పి"],
["కళ్యాణదుర్గం","కళ్యాణదుర్గం"],
["ఆత్మకూరు","ఆత్మకూరు"],
["అనంతపురం","అనంతపురం"],
["బుక్కరాయసముద్రం","బుక్కరాయసముద్రం"],
["నార్పల","నార్పల"],
["పుట్లూరు","పుట్లూరు"],
["యల్లనూరు","యల్లనూరు"],
["తాడిమర్రి","తాడిమర్రి"],
["బత్తలపల్లి","బత్తలపల్లి"],
["రాప్తాడు","రాప్తాడు"],
["కనగానపల్లి","కనగానపల్లి"],
["కంబదూరు","కంబదూరు"],
["రామగిరి","రామగిరి"],
["చెన్నేకొత్తపల్లి","చెన్నేకొత్తపల్లి"],
["ధర్మవరం","ధర్మవరం"],
["ముదిగుబ్బ","ముదిగుబ్బ"],
["తలుపుల","తలుపుల"],
["నంబులపూలకుంట","నంబులపూలకుంట"],
["తనకల్లు","తనకల్లు"],
["నల్లచెరువు","నల్లచెరువు"],
["గాండ్లపెంట","గాండ్లపెంట"],
["కదిరి","కదిరి"],
["ఆమడగూరు","ఆమడగూరు"],
["ఓబులదేవరచెరువు","ఓబులదేవరచెరువు"],
["నల్లమడ","నల్లమడ"],
["గోరంట్ల","గోరంట్ల"],
["పుట్టపర్తి","పుట్టపర్తి"],
["బుక్కపట్నం","బుక్కపట్నం"],
["కొత్తచెరువు","కొత్తచెరువు"],
["పెనుకొండ","పెనుకొండ"],
["రొద్దం","రొద్దం"],
["సోమందేపల్లె","సోమందేపల్లె"],
["చిలమతూరు","చిలమతూరు"],
["లేపాక్షి","లేపాక్షి"],
["హిందూపురం","హిందూపురం"],
["పరిగి","పరిగి"],
["మడకశిర","మడకశిర"],
["గుడిబండ","గుడిబండ"],
["అమరాపురం","అమరాపురం"],
["అగలి","అగలి"],
["రొల్ల","రొల్ల"]]