["1.సీతారాంపురము మండలం","1.సీతారాంపురము మండలం"],
["2.వరికుంటపాడు మండలం","2.వరికుంటపాడు మండలం"],
["3.కొండాపురం","3.కొండాపురం"],
["4.జలదంకి మండలం","4.జలదంకి మండలం"],
["5.కావలి మండలం","5.కావలి మండలం"],
["6.బోగోలు మండలం","6.బోగోలు మండలం"],
["7.కలిగిరి మండలం","7.కలిగిరి మండలం"],
["8.వింజమూరు","8.వింజమూరు"],
["9.దుత్తలూరు మండలం","9.దుత్తలూరు మండలం"],
["10.ఉదయగిరి మండలం","10.ఉదయగిరి మండలం"],
["11.మర్రిపాడు మండలం","11.మర్రిపాడు మండలం"],
["12.ఆత్మకూరు","12.ఆత్మకూరు"],
["13.అనుమసముద్రంపేట","13.అనుమసముద్రంపేట"],
["14.దగదర్తి మండలం","14.దగదర్తి మండలం"],
["15.ఆల్లూరు","15.ఆల్లూరు"],
["16.విడవలూరు మండలం","16.విడవలూరు మండలం"],
["17.కొడవలూరు మండలం","17.కొడవలూరు మండలం"],
["18.బుచ్చిరెడ్డిపాలెము మండలం","18.బుచ్చిరెడ్డిపాలెము మండలం"],
["19.సంగం","19.సంగం"],
["20.చేజెర్ల మండలం","20.చేజెర్ల మండలం"],
["21.అనంతసాగరం మండలం","21.అనంతసాగరం మండలం"],
["22.కలువోయ మండలం","22.కలువోయ మండలం"],
["23.రాపూరు మండలం","23.రాపూరు మండలం"],
["24.పొదలకూరు మండలం","24.పొదలకూరు మండలం"],
["25.నెల్లూరు","25.నెల్లూరు"],
["26.కోవూరు మండలం","26.కోవూరు మండలం"],
["27.ఇందుకూరుపేట మండలం","27.ఇందుకూరుపేట మండలం"],
["28.తోటపల్లిగూడూరు మండలం","28.తోటపల్లిగూడూరు మండలం"],
["29.ముత్తుకూరు మండలం","29.ముత్తుకూరు మండలం"],
["30.వెంకటాచలము మండలం","30.వెంకటాచలము మండలం"],
["31.మనుబోలు మండలం","31.మనుబోలు మండలం"],
["32.గూడూరు","32.గూడూరు"],
["33.సైదాపురము మండలం","33.సైదాపురము మండలం"],
["34.డక్కిలి మండలం","34.డక్కిలి మండలం"],
["35.వెంకటగిరి మండలం","35.వెంకటగిరి మండలం"],
["36.బాలాయపల్లె మండలం","36.బాలాయపల్లె మండలం"],
["37.ఓజిలి మండలం","37.ఓజిలి మండలం"],
["38.చిల్లకూరు మండలం","38.చిల్లకూరు మండలం"],
["39.కోట","39.కోట"],
["40.వాకాడు మండలం","40.వాకాడు మండలం"],
["41.చిట్టమూరు మండలం","41.చిట్టమూరు మండలం"],
["42.నాయుడుపేట మండలం","42.నాయుడుపేట మండలం"],
["43.పెళ్లకూరు మండలం","43.పెళ్లకూరు మండలం"],
["44.దొరవారిసత్రము మండలం","44.దొరవారిసత్రము మండలం"],
["45.సూళ్లూరుపేట","45.సూళ్లూరుపేట"],
["46.తడ మండలం","46.తడ మండలం"]
