
["1.యర్రగొండపాలెం మండలం","1.యర్రగొండపాలెం మండలం"],

["2.పుల్లలచెరువు మండలం","2.పుల్లలచెరువు మండలం"],

["3.త్రిపురాంతకము మండలం","3.త్రిపురాంతకము మండలం"],

["4.కురిచేడు మండలం","4.కురిచేడు మండలం"],

["5.దొనకొండ మండలం","5.దొనకొండ మండలం"],

["6.పెద్దారవీడు మండలం","6.పెద్దారవీడు మండలం"],

["7.దోర్నాల మండలం","7.దోర్నాల మండలం"],

["8.అర్ధవీడు మండలం","8.అర్ధవీడు మండలం"],

["9.మార్కాపురం మండలం","9.మార్కాపురం మండలం"],

["10.తర్లపాడు మండలం","10.తర్లపాడు మండలం"],

["11.కొంకణమిట్ల మండలం","11.కొంకణమిట్ల మండలం"],

["12.పొదిలి మండలం","12.పొదిలి మండలం"],

["13.దర్శి మండలం","13.దర్శి మండలం"],

["14.ముండ్లమూరు మండలం","14.ముండ్లమూరు మండలం"],

["15.తాళ్ళూరు మండలం","15.తాళ్ళూరు మండలం"],

["16.అద్దంకి మండలం","16.అద్దంకి మండలం"],

["17.బల్లికురవ మండలం","17.బల్లికురవ మండలం"],

["18.సంతమాగులూరు మండలం","18.సంతమాగులూరు మండలం"],

["19.యద్దనపూడి మండలం","19.యద్దనపూడి మండలం"],

["20.మార్టూరు మండలం","20.మార్టూరు మండలం"],

["21.పర్చూరు మండలం","21.పర్చూరు మండలం"],

["22.కారంచేడు మండలం","22.కారంచేడు మండలం"],

["23.చీరాల మండలం","23.చీరాల మండలం"],

["24.వేటపాలెం మండలం","24.వేటపాలెం మండలం"],

["25.ఇంకొల్లు మండలం","25.ఇంకొల్లు మండలం"],

["26.జే.పంగులూరు మండలం","26.జే.పంగులూరు మండలం"],

["27.కొరిసపాడు మండలం","27.కొరిసపాడు మండలం"],

["28.మద్దిపాడు మండలం","28.మద్దిపాడు మండలం"],

["29.చీమకుర్తి మండలం","29.చీమకుర్తి మండలం"],

["30.మర్రిపూడి మండలం","30.మర్రిపూడి మండలం"],

["31.కనిగిరి మండలం","31.కనిగిరి మండలం"],

["32.హనుమంతునిపాడు మండలం","32.హనుమంతునిపాడు మండలం"],

["33.బేస్తవారిపేట మండలం","33.బేస్తవారిపేట మండలం"],

["34.కంభం మండలం","34.కంభం మండలం"],

["35.రాచర్ల మండలం","35.రాచర్ల మండలం"],

["36.గిద్దలూరు మండలం","36.గిద్దలూరు మండలం"],

["37.కొమరోలు మండలం","37.కొమరోలు మండలం"],

["38.చంద్రశేఖరపురం మండలం","38.చంద్రశేఖరపురం మండలం"],

["39.వెలిగండ్ల మండలం","39.వెలిగండ్ల మండలం"],

["40.పెదచెర్లోపల్లి మండలం","40.పెదచెర్లోపల్లి మండలం"],

["41.పొన్నలూరు మండలం","41.పొన్నలూరు మండలం"],

["42.కొండపి మండలం","42.కొండపి మండలం"],

["43.సంతనూతలపాడు మండలం","43.సంతనూతలపాడు మండలం"],

["44.ఒంగోలు మండలం","44.ఒంగోలు మండలం"],

["45.నాగులుప్పలపాడు మండలం","45.నాగులుప్పలపాడు మండలం"],

["46.చినగంజాము మండలం","46.చినగంజాము మండలం"],

["47.కొత్తపట్నం మండలం","47.కొత్తపట్నం మండలం"],

["48.టంగుటూరు (ప్రకాశం జిల్లా) మండలం","48.టంగుటూరు (ప్రకాశం జిల్లా) మండలం"],

["49.జరుగుమిల్లి మండలం","49.జరుగుమిల్లి మండలం"],

["50.కందుకూరు మండలం","50.కందుకూరు మండలం"],

["51.వోలేటివారిపాలెము మండలం","51.వోలేటివారిపాలెము మండలం"],

["52.పామూరు మండలం","52.పామూరు మండలం"],

["53.లింగసముద్రము మండలం","53.లింగసముద్రము మండలం"],

["54.గుడ్లూరు మండలం","54.గుడ్లూరు మండలం"],

["55.ఉలవపాడు మండలం","55.ఉలవపాడు మండలం"],

["56.సింగరాయకొండ మండలం","56.సింగరాయకొండ మండలం"],


