["వీరఘట్టం మండలం","వీరఘట్టం మండలం"],
["భామిని మండలం","భామిని మండలం"],
["టెక్కలి మండలం","టెక్కలి మండలం"],
["వంగర మండలం","వంగర మండలం"],
["కొత్తూరు మండలం","కొత్తూరు మండలం"],
["కోటబొమ్మాళి మండలం","కోటబొమ్మాళి మండలం"],
["రేగిడి ఆమదాలవలస మండలం","రేగిడి ఆమదాలవలస మండలం"],
["హీరమండలం మండలం	","హీరమండలం మండలం"],
["సంతబొమ్మాళి మండలం","సంతబొమ్మాళి మండలం"],
["రాజాం మండలం","రాజాం మండలం"],
["సరుబుజ్జిలి మండలం","సరుబుజ్జిలి మండలం"],
["నందిగం మండలం","నందిగం మండలం"],
["గంగువారి సింగడాం మండలం","గంగువారి సింగడాం మండలం"],
["ఆమదాలవలస మండలం","ఆమదాలవలస మండలం"],
["వజ్రపుకొత్తూరు మండలం","వజ్రపుకొత్తూరు మండలం"],
["లావేరు మండలం","లావేరు మండలం"],
["శ్రీకాకుళం మండలం మండలం","శ్రీకాకుళం మండలం మండలం"],
["పలాస మండలం","పలాస మండలం"],
["రణస్థలం మండలం","రణస్థలం మండలం"],
["గార మండలం","గార మండలం"	],
["మందస మండలం","మందస మండలం"],
["ఎచ్చెర్ల మండలం","ఎచ్చెర్ల మండలం"],
["పోలాకి మండలం","పోలాకి మండలం"],
["సోంపేట మండలం","సోంపేట మండలం"],
["పొందూరు మండలం","పొందూరు మండలం"],
["నరసన్నపేట మండలం","నరసన్నపేట మండలం"],
["కంచిలి మండలం","కంచిలి మండలం"],
["సంతకవిటి మండలం","సంతకవిటి మండలం"],
["జలుమూరు మండలం","జలుమూరు మండలం"],
["కవిటి మండలం","కవిటి మండలం"],
["బూర్జ మండలం","బూర్జ మండలం"],
["సారవకోట మండలం","సారవకోట మండలం"],
["ఇచ్ఛాపురం మండలం","ఇచ్ఛాపురం మండలం"],
["పాలకొండ మండలం","పాలకొండ మండలం"],
["పాతపట్నం మండలం	","పాతపట్నం మండలం"],
["లక్ష్మీనరసుపేట మండలం","లక్ష్మీనరసుపేట మండలం"],
["సీతంపేట మండలం","సీతంపేట మండలం"],
["మెళియాపుట్టి మండలం","మెళియాపుట్టి మండలం"],