["కొమరాడ మండలం","కొమరాడ మండలం"],
["రామభద్రాపురం మండలం","రామభద్రాపురం మండలం"],
["పూసపాటిరేగ మండలం","పూసపాటిరేగ మండలం"],
["గుమ్మలక్ష్మీపురం మండలం","గుమ్మలక్ష్మీపురం మండలం"],
["బాడంగి మండలం","బాడంగి మండలం"],
["భోగాపురం మండలం","భోగాపురం మండలం"],
["కురుపాం మండలం","కురుపాం మండలం"],
["తెర్లాం మండలం","తెర్లాం మండలం"],
["డెంకాడ మండలం","డెంకాడ మండలం"],
["జియ్యమ్మవలస మండలం","జియ్యమ్మవలస మండలం"],
["మెరకముడిదాం మండలం","మెరకముడిదాం మండలం"],
["విజయనగరం మండలం","విజయనగరం మండలం"],
["గరుగుబిల్లి మండలం","గరుగుబిల్లి మండలం"],
["దత్తిరాజేరు మండలం","దత్తిరాజేరు మండలం"],
["గంట్యాడ మండలం","గంట్యాడ మండలం"],
["పార్వతీపురం మండలం","పార్వతీపురం మండలం"],
["మెంటాడ మండలం","మెంటాడ మండలం"],
["శృంగవరపుకోట మండలం","శృంగవరపుకోట మండలం"],
["మక్కువ మండలం","మక్కువ మండలం"],
["గజపతినగరం మండలం","గజపతినగరం మండలం"],
["వేపాడ మండలం","వేపాడ మండలం"],
["సీతానగరం మండలం","సీతానగరం మండలం"],
["బొండపల్లి మండలం","బొండపల్లి మండలం"],
["లక్కవరపుకోట మండలం","లక్కవరపుకోట మండలం"],
["బలిజిపేట మండలం","బలిజిపేట మండలం"],
["గుర్ల మండలం","గుర్ల మండలం"],
["జామి మండలం","జామి మండలం"],
["బొబ్బిలి మండలం","బొబ్బిలి మండలం"],
["గరివిడి మండలం","గరివిడి మండలం"],
["కొత్తవలస మండలం","కొత్తవలస మండలం"],
["సాలూరు మండలం","సాలూరు మండలం"],
["చీపురుపల్లి మండలం","చీపురుపల్లి మండలం"],
["పాచిపెంట మండలం","పాచిపెంట మండలం"],
["నెల్లిమర్ల మండలం","నెల్లిమర్ల మండలం"],