["ముంచంగిపుట్టు","ముంచంగిపుట్టు"],
["గొలుగొండ	","గొలుగొండ"],
["విశాఖపట్నం (గ్రామీణ) మండలం","విశాఖపట్నం (గ్రామీణ) మండలం"],
["పెదబయలు","పెదబయలు"],
["నాతవరం","పెదబయలు"	],
["విశాఖపట్నం (పట్టణ) మండలం","విశాఖపట్నం (పట్టణ) మండలం"],
["హుకుంపేట	","హుకుంపేట"],
["నర్సీపట్నం","నర్సీపట్నం"],
["గాజువాక","గాజువాక"],
["డుంబ్రిగుడ","డుంబ్రిగుడ"],
["రోలుగుంట	","రోలుగుంట"],
["పెదగంట్యాడ","పెదగంట్యాడ"],
["అరకులోయ	","అరకులోయ"],
["రావికమతం	","రావికమతం"],
["పరవాడ","పరవాడ"],
["అనంతగిరి","అనంతగిరి"],
["బుచ్చెయ్యపేట","బుచ్చెయ్యపేట"],
["అనకాపల్లి","అనకాపల్లి"],
["దేవరాపల్లి","దేవరాపల్లి"],
["చోడవరం","చోడవరం"],
["మునగపాక","మునగపాక"],
["చీడికాడ","చీడికాడ"],
["కె.కొత్తపాడు","కె.కొత్తపాడు"],
["కశింకోట","కశింకోట"],
["మాడుగుల","మాడుగుల"],
["సబ్బవరం","సబ్బవరం"],
["మాకవరపాలెం","మాకవరపాలెం"],
["పాడేరు","పాడేరు"],
["పెందుర్తి","పెందుర్తి"],
["కోట ఉరట్ల","కోట ఉరట్ల"],
["గంగరాజు మాడుగుల","గంగరాజు మాడుగుల"],
["ఆనందపురం	","ఆనందపురం"],
["పాయకరావుపేట","పాయకరావుపేట"],
["చింతపల్లి","చింతపల్లి"],
["పద్మనాభం","పద్మనాభం"],
["నక్కపల్లి","నక్కపల్లి"],
["గూడెం కొత్తవీధి","గూడెం కొత్తవీధి"],
["భీమునిపట్నం","భీమునిపట్నం"],
["శృంగరాయవరం","శృంగరాయవరం"],
["కొయ్యూరు","కొయ్యూరు"],
["ఎలమంచిలి	","ఎలమంచిలి"],
["రాంబిల్లి","రాంబిల్లి"],
["అచ్యుతాపురం","అచ్యుతాపురం"],