["1 జీలుగుమిల్లి మండలం","1 జీలుగుమిల్లి మండలం"],

["2 బుట్టాయగూడెం మండలం","2 బుట్టాయగూడెం మండలం"],

["3 పోలవరం మండలం","3 పోలవరం మండలం"],

["4 తాళ్ళపూడి మండలం","4 తాళ్ళపూడి మండలం"],

["5 గోపాలపురం మండలం","5 గోపాలపురం మండలం"],

["6 కొయ్యలగూడెం మండలం","6 కొయ్యలగూడెం మండలం"],

["7 జంగారెడ్డిగూడెం మండలం","7 జంగారెడ్డిగూడెం మండలం"],

["8 టి.నరసాపురం మండలం","8 టి.నరసాపురం మండలం"],

["9 చింతలపూడి","9 చింతలపూడి"],

["10 లింగపాలెం మండలం","10 లింగపాలెం మండలం"],

["11 కామవరపుకోట మండలం","11 కామవరపుకోట మండలం"],

["12 ద్వారకా తిరుమల మండలం","12 ద్వారకా తిరుమల మండలం"],

["13 నల్లజర్ల మండలం","13 నల్లజర్ల మండలం",],

["14 దేవరపల్లి","14 దేవరపల్లి",],

["15 చాగల్లు మండలం","15 చాగల్లు మండలం",],

["16 కొవ్వూరు మండలం","16 కొవ్వూరు మండలం",],

["17 నిడదవోలు మండలం","17 నిడదవోలు మండలం"],

["18 తాడేపల్లిగూడెం మండలం","18 తాడేపల్లిగూడెం మండలం"],

["19 ఉంగుటూరు మండలం","19 ఉంగుటూరు మండలం"],

["20 భీమడోలు మండలం","20 భీమడోలు మండలం"],

["21 పెదవేగి మండలం","21 పెదవేగి మండలం"],

["22 పెదపాడు మండలం","22 పెదపాడు మండలం"],

["23 ఏలూరు మండలం","23 ఏలూరు మండలం"],

["24 దెందులూరు మండలం","24 దెందులూరు మండలం"],

["25 నిడమర్రు మండలం","25 నిడమర్రు మండలం"],

["26 గణపవరం","26 గణపవరం"],

["27 పెంటపాడు మండలం","27 పెంటపాడు మండలం"],

["28 తణుకు మండలం","28 తణుకు మండలం"],

["29 ఉండ్రాజవరం మండలం","29 ఉండ్రాజవరం మండలం"],

["30 పెరవలి మండలం","30 పెరవలి మండలం"],

["31 ఇరగవరం మండలం","31 ఇరగవరం మండలం"],

["32 అత్తిలి మండలం","32 అత్తిలి మండలం"],

["33 ఉండి మండలం","33 ఉండి మండలం"],

["34 ఆకివీడు మండలం","34 ఆకివీడు మండలం"],

["35 కాళ్ళ మండలం","35 కాళ్ళ మండలం"],

["36 భీమవరం మండలం","36 భీమవరం మండలం"],

["37 పాలకోడేరు మండలం","37 పాలకోడేరు మండలం"],

["38 వీరవాసరము మండలం","38 వీరవాసరము మండలం"],

["39 పెనుమంట్ర మండలం","39 పెనుమంట్ర మండలం"],

["40 పెనుగొండ","40 పెనుగొండ"],

["41 ఆచంట మండలం","41 ఆచంట మండలం"],

["42 పోడూరు మండలం","42 పోడూరు మండలం"],

["43 పాలకొల్లు మండలం","43 పాలకొల్లు మండలం"],

["44 యలమంచిలి మండలం","44 యలమంచిలి మండలం"],

["45 నరసాపురం మండలం","45 నరసాపురం మండలం"],

["46 మొగల్తూరు మండలం","46 మొగల్తూరు మండలం"],

["47 కుక్కునూరు మండలం","47 కుక్కునూరు మండలం"],

["48 వేలేరుపాడు మండలం","48 వేలేరుపాడు మండలం"],


